# Archivos Sensibles y Pesados (IGNORAR)
uploads/
paginas/config.php
paginas/conexion.php
.env
*.zip
node_modules/
*.sql

# Logs (IGNORAR para evitar conflictos en hosting)
paginas/principal/logs/
*.log
